<div class="col-xs-10 col-xs-offset-1">
	<div class="list">
		<article class="list-item" data-ng-repeat="material in MaterialList.materials">
			<header class="list-item-title">
				<h2><a data-ng-href="{{MaterialList.path}}/{{material.id}}">{{material.title}}</a></h2>
				<span class="date">{{material.date}}</span>
			</header>
			<div class="list-item-text">
				<p>
					{{material.text}}
					<span><a data-ng-href="{{MaterialList.path}}/{{material.id}}">читать дальше.</a></span>
				</p>
			</div>
			<div class="tags-wrapper" data-ng-if="MaterialList.showTags">
				<span class="label">тэги:</span>
				<div class="tags">
					<a data-ng-repeat="tag in material.tags" data-ng-href="/articles/persons?tag={{tag.name}}" class="tag"><span>{{tag.alias}}</span></a>
				</div>
			</div>
		</article>
	</div>
</div>