<div class="col-xs-12 ng-scope">
    <div ng-if="!Photos.photos.length" class="spinner-wrapper">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
	<ul class="photos-list" ng-if="Photos.photos.length">
        <div ng-show="Photos.overlay"
            class="photos-list__overlay"
            ng-click="Photos.deselectPhoto()"></div>
		<li class="photos-item"
			ng-repeat="photo in Photos.photos"
            ng-class="photo.selected ? 'photos-item_selected' : ''">
			<figure class="photo"
                ng-click="Photos.selectPhoto($index)">
				<img ng-src="/img/photos/{{photo.path}}" alt="img01">
				<figcaption><p>{{photo.description}}</p></figcaption>
			</figure>
		</li>
	</ul>
</div>